@page
@model ANPAdmin.UI.Pages.LoadTestModel
@{
    ViewData["Title"] = "Teste de Carga";
}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Página para Simulação de Teste de Carga
            </h1>
        </div>
    </div>
</div>

