@page
@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <title>Azure na Prática - Login</title>
</head>
<body>
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="~/demo/brand/logo-2-A-1x.png" class="h-6" alt="">
                        </div>
                        @if(!ModelState.IsValid && ModelState.ContainsKey("INVALID_CREDENTIALS"))
                        {
                            <div id="div-error" class="alert alert-danger">
                                @ModelState.Where(x => x.Key == "INVALID_CREDENTIALS").FirstOrDefault().Value.Errors.FirstOrDefault().ErrorMessage
                            </div>
                        }
                        <form class="card" action="" method="post">
                            <div asp-action="" class="card-body p-6">
                                <div class="card-title">Acessar Conta</div>
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Seu e-mail" value="">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">
                                        Senha
                                        <a href="javascript:alert('Funcionalidade não disponível');return false;" class="float-right small">Esqueci minha Senha</a>
                                    </label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
                                </div>
                                <div class="form-group">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" />
                                        <span class="custom-control-label">Matenha-me Conectado</span>
                                    </label>
                                </div>
                                <div class="form-footer">
                                    <button id="btnSubmitForm" type="submit" class="btn btn-primary btn-block">Entrar</button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center text-muted">
                            Ainda não tem conta? <a href="#">Cadastro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
